:root {
    --primary-color: white;
    --text-color: #ffbc4b;
    --background-light: #ffffff;
    --header-height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 110%;
}

p{
    font-size: 10;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
    color: #717681;
    line-height: 1.5;
    overflow-x: hidden;
}

.header-background {
    background-color: white;
    background-size: cover;
    text-align: center;
    height: 50vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav {
    width: 100%;
    position: absolute;
    top: 0;
    background: #ffbc4b;
    padding: 5px 0;
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: ffbc4b;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10;
}

#about {
    background-color: white; 
    padding-left: 40px;
    padding-right: 40px;
    margin: 40px;
    border-radius: 0.5%;
    text-align: center;
}

.profile-photo {
    max-width: 40%;
    height: auto; 
    border-radius: 50%; 
}

#resume {
    background-color: white; 
    padding-left: 40px;
    padding-right: 40px;
    margin: 40px;
    border-radius: 0.5%;
    text-align: center;
}

/* .experience {
    width: 80vw;
    height: 200px;
    background-color: white;
    border: 5px solid #e8a737;
    margin: 5px;
    display: inline-block;
    line-height: 200px;
} */

#contact {
    background-color: white; 
    padding-left: 40px;
    padding-right: 40px;
    margin: 40px;
    padding: 15px;
    border-radius: 0.5%;
    text-align: center;
}

.td-btn {
    padding: 12px 36px;
    transition: background-color 0.2s ease-in-out;
     background-color: white; 

}

footer {
    background-color: #ffbc4b;
    text-align: center;
    padding: 5px;
}

h1 {
    color: #ffbc4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60;
}

h2 {
    color: #ffbc4b;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40;
}

h3 {
    color: #fabf59;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30;
    padding-bottom: 0;
    margin-bottom: 0;
}

h4 {
    color: #5c606a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22;
    padding-bottom: 0;
    margin-bottom: 0;
}

a.one {
    color: #ffffff;
    transition: color 0.2s ease-in-out;
}

a.one:hover {
    color: #3d4047;
}

a.two {
    color: #ffbc4b;
    transition: color 0.2s ease-in-out;
}

a.two:hover {
    color: #3d4047;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
  
  .profile-photo {
        width: 50%; 
        margin: 0 auto; 
    }
}

.site-footer {
    background: #ffbc4b;
  }